# Rust
/client/target/
/client/Cargo.lock
**/*.rs.bk
temp_doc/

# Node/TypeScript
/server/node_modules/
/server/dist/
/server/.env

# Database files
/server/data/
*.sqlite
*.sqlite3
*.db


